<div class="app-google-maps-page__container">
  <div *ngIf="!(isLoading | async)"
       class="app-google-maps-page__main-container">
    <div class="app-google-maps-page__events-container">
      <span>Current event</span>
      <div>
        <app-event [eventInfo]="currentEvent"></app-event>
      </div>
    </div>
    <agm-map class="app-google-maps-page__agm-map"
             [latitude]="currentEvent.address.xCoordinate"
             [longitude]="currentEvent.address.yCoordinate"
             [zoom]="zoom">
      <agm-marker *ngFor="let event of (events$ | async)"
                  [latitude]="event.address.xCoordinate"
                  [openInfoWindow]="true"
                  [longitude]="event.address.yCoordinate"
                  (markerClick)="currentEvent = event">
      </agm-marker>
    </agm-map>
  </div>

  <div class="app-google-maps-page__loader-container">
    <app-loader *ngIf="isLoading | async"></app-loader>
  </div>
</div>
