.app-root {

  &__container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__header {
    height: 60px;
  }

  &__toolbar-container {
    display: flex;
    align-items: center;
    color: white;
    justify-content: center;
  }

  &__content {
    flex-grow: 1;
  }
}
