$loader-color: #1976d2;

.app-loader {
  &__container {
    display: inline-block;
    width: 100px;
    height: 100px;

    &:after {
      color: blanchedalmond;
      content: " ";
      display: block;
      width: 86px;
      height: 86px;
      margin: 8px;
      border-radius: 50%;
      border: 6px solid $loader-color;
      -webkit-animation: dual-ring 1.2s linear infinite;
      animation: dual-ring 1.2s linear infinite;
      border-color: $loader-color transparent $loader-color transparent;
    }
  }
}

@keyframes dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
